html,body { margin: 0; padding: 0; }
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
a {
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
a:active,
a:hover { outline-width: 0; }
body { 
    background: #f2f3f5; 
	font-family: 'Open Sans', sans-serif;
    font-size: 12px; 
    line-height: 1.5; }
hr { border: none; border-top: 1px solid #f2f3f5; }
p, a { color: #9d9d9d; margin: 0; text-decoration: none; }

span { padding: 0px 5px; }
.container { 
	max-width: 900px; 
	width: 100%;
    margin: 85px auto 15px auto; }
@media(max-width: 800px) {
	.container { margin: 60px auto 15px auto; }
}
.header { 
	height: auto; 
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #81aaf7;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1); }
.header .container { max-width: 1200px; margin: 0px auto; }
	.header svg { width: 120px; height: 38px; margin: 15px 0px 15px 15px; }
@media(max-width: 800px) {
	.header svg { width: 90px; margin: 10px 0px 10px 15px; }
}
.header svg .st0{fill:#ffffff;}
.header svg .st1{fill:#81aaf7;}
.card {
	padding: 15px;
    margin: 0px;
	border-radius: 4px;
	border-bottom: 1px solid #f3f3f5;
	background: #ffffff; }
.card:hover {
	background: #f9f9f8;
}
a.title { 
	font-weight: 700; 
	font-size: 15px; 
	color: #758492; 
	margin: 0; }
a.author, a.subreddit { font-weight: 700; color: #758492; }
.thumbnail { float: left; overflow: hidden; margin: 0px 15px 0px 0px; }
.thumbnail img {
	width: 60px;
	height: 60px;
	border-radius: 3px; }
.post { overflow: hidden; }